<app-layout>
  <div class="register-layout">
    <div class="row">
      <div class="col-sm-6">
        <div class="register-intro">
          <div class="title-intro">Join the GoValue community</div>
          <div class="listing-intro">
            <ul>
              <li>Get unstuck-ask a question</li>
              <li>Unlock new privileges like voting and commenting</li>
              <li>Save your favorite tags, filters and jobs</li>
              <li>Earn reputation and badger</li>
            </ul>
          </div>

          <div class="tnd">
          <span>Use the power of GoValue inside your organization.</span><br>
          <span>Try a <span>free trial of GoValue for Team.</span></span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="register-wrapper">
          <div class="register-title">SIGN UP</div>
          <div class="row register-content">
            <div class="col-md-7">
              <div class="register-form">
                <div class="group-form-register">
                  <form action="/action_page.php">
                    <div class="form-group">
                      <label for="name">Display Name</label>
                      <input type="text" class="form-control" id="name">
                      <i>Your display name will be displayed on site</i>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email">
                      <i>Your email will not be displayed on site</i>
                    </div>
                    <div class="form-group">
                      <label for="pwd">Password</label>
                      <input type="password" class="form-control" id="password">
                      <i>Minimum 6 characters</i>
                    </div>
                    <button type="submit" class="btn btn-primary">SIGN UP</button>
                    <div class="alert-acc">Already have an account? <a href="#">Log In</a></div>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <div class="box-right-register">
                <div class="title">Sign up with:</div>
                <div class="group-btn-user">
                  <div class="user-btn fb-button">
                    <i class="fal fa-facebook-f"></i>
                    <span>FACEBOOK</span>
                  </div>
                  <div class="user-btn gg-button">
                    <i class="fab fa-google-plus-g"></i>
                    <span>GOOGLE</span>
                  </div>
                  <div class="user-btn ld-button">
                    <i class="fab fa-linkedin-in"></i>
                    <span>LINKEDIN</span>
                  </div>
                  <div class="alert-user-acc">By signing up,your have read and agree to our <span>terms of service</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
